/* TO DO:
- get background images to flick between dp and mb
- send link to RSVP page
- set up RSVP page
 */

/*----------------platform agnostic-----------------*/
html, body {
  overflow: hidden;
  height: 100%
}

body {
  /* jozie and ryan in Georgia
  background: url("https://farm5.staticflickr.com/4799/38872120550_6616967b46_z.jpg") no-repeat center center fixed;
  */

  /* Sunflower on John Smiths uncropped */
  /* background: url("https://farm5.staticflickr.com/4775/25857692207_086a4645c6_k.jpg") no-repeat center center fixed; */
  /* Sunflower on John Smiths 16:9 */
  background: url("https://farm5.staticflickr.com/4781/40757784491_8b98f855b3_k.jpg") no-repeat center center fixed;

  /* Sunflower on John Smiths mobile_portrait */
  /* background: url("https://farm5.staticflickr.com/4801/40048240064_7a693121a4_k.jpg") no-repeat center center fixed; */

  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;

  color: #ffce1b;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                            supported by Chrome and Opera */
}

h1 { font-family: 'Alex Brush', cursive; }
h2, h3 { font-family: 'IM Fell Double Pica SC', serif; }

h3 {
  font-size: 2em;
  position: fixed;
  bottom: 0px;
  right: 5px;
}

#enter-website-button {
  color: #ffce1b;
  font-family: 'Alex Brush';
  /* font-family: 'IM Fell Double Pica SC'; */
  background: Transparent no-repeat;
  border: 3px solid #0000ff;
  /* border: 3px solid #ffce1b; */
  border-radius: 50px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  padding: 10px 30px;
}

#enter-website-button:active:focus {
  border-style: outset;
  border: 3px solid #ffce1b;
}

/*-----------end of platform agnostic------------*/

/* Portrait phones and down */
@media (max-width: 480px) {
  /* body {
    /* Sunflower on John Smiths mobile_portrait
    background: url("https://farm5.staticflickr.com/4801/40048240064_7a693121a4_k.jpg") no-repeat center center fixed;
  } */
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    /* Sunflower on John Smiths 16:9
    background: url("https://farm5.staticflickr.com/4781/40757784491_8b98f855b3_k.jpg") no-repeat center center fixed !important;
    */
    text-align: center;
  }

  h1 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 3.5em;
  }

  h2 {
    margin-top: 0px;
    font-size: 1.5em;
  }

  #enter-website-button {
    font-size: 2.5em;
    margin-top: 200px;
  }
}

/*--------------------desktops------------------------*/

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) {
  /* body {
    /* Sunflower on John Smiths 16:9
    background: url("https://farm5.staticflickr.com/4781/40757784491_8b98f855b3_k.jpg") no-repeat center center fixed !important;
  } */

  .screen-middle {
    position: fixed;
    top: 20%;
    height: 60%;
    bottom: 20%;
    left: 15%;
    width: 70%;
    right: 15%;

    text-align: center;
  }

  h1 {
    font-size: 6em;
    margin-bottom: 0px;
  }

  h2 {
    font-size: 3em;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  #enter-website-button {
    font-size: 3em;
  }
}

/* Large desktop */
@media (min-width: 1200px) {

}

/*---------------end of desktops-------------------*/
