/* TO DO:
 */

/*----------------platform agnostic-----------------*/
.center {
  text-align: center;
  margin: 0 auto;
}

html, body {
  overflow: hidden;
  height: 100%
}

body {
  position: relative;
  color: #ffce1b;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#Countdown-Timer {
  margin-top: 10px;
  font-size: 2em;
}

h1 {
  font-family: 'Alex Brush', cursive;
}
h2, h3 { font-family: 'IM Fell Double Pica SC', serif; }

#tag_rjwedding2018 {
  font-size: 2em;
  position: fixed;
  bottom: 0px;
  right: 5px;
}

#enter-website-button {
  color: #ffce1b;
  font-family: 'Alex Brush';
  background: Transparent no-repeat;
  border: 3px solid #0000ff;
  /* border: 3px solid #ffce1b; */
  border-radius: 50px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  padding: 10px 30px;
}

#enter-website-button:active:focus {
  border-style: outset;
  border: 3px solid #ffce1b;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*-----------end of platform agnostic------------*/

/* All mobiles and tablets */
/* @media only screen and (max-width: 1024px) {
  body { text-align: center }
} */

/* Portrait phones and down */
/* @media only screen and (max-width: 480px) { */

/* Portrait phones and down */
@media only screen and (max-width: 480px) and (orientation: portrait) {
  body {
    /* Sunflower on John Smiths mobile_portrait */
    background: url("./Images/Entry_page/entry_page_bg_mobile_portrait.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  h1 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 3.5em;
  }

  h2 {
    margin-top: 0px;
    font-size: 1.5em;
  }

  #enter-website-button {
    width: 85%;
    font-size: 2.5em;
  }
}

/* Landscape phones ONLY */
@media only screen and (max-width: 812px) and (orientation: landscape) {
  h1 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 3.5em;
  }

  h2 {
    margin-top: 0px;
    font-size: 1.5em;
  }

  #enter-website-button {
    /* width: 9em; */
    font-size: 2.5em;
  }
}

/* Landscape phone to portrait tablet ONLY */
/* @media (min-width: 481px) and (max-width: 767px) { */

/* Portrait tablets ONLY */
@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {
  body {
    /* Sunflower on John Smiths mobile_portrait */
    background: url("./Images/Entry_page/entry_page_bg_tablets_portrait.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  h1 {
    margin-bottom: 0px;
    font-size: 5.5em;
  }

  h2 {
    margin-top: 10px;
    font-size: 2.5em;
  }

  #enter-website-button {
    width: 8em;
    font-size: 3.5em;
  }
}


/* Landscape phone to portrait tablet and down */
/* @media (max-width: 767px) { */

/* All portrait phones and tablets */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  #enter-website-button {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* All desktops, landscape phones and landscape tablets */
@media only screen and (orientation: landscape), only screen and (min-width: 1025px) {
  body {
    /* Sunflower on John Smiths mobile_portrait */
    background: url("./Images/Entry_page/entry_page_bg_landscape.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

/*-------------landscape tablets / desktops------------------------*/

/* Portrait tablet to landscape and desktop */
/* @media (min-width: 768px) { */

/* Landscape tablets, desktops and up */
@media only screen and (min-width: 813px) and (orientation: landscape), only screen and (min-width: 1025px) {

  #Countdown-Timer {
    position: absolute;
    text-align: center;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto
  }
  /* redesigining screen-middle for maximum browser compatability */
  .screen-middle-outer {
      display: table;
      position: absolute;
      height: 100%;
      width: 100%;
  }

  .screen-middle-cell {
      display: table-cell;
      vertical-align: middle;
  }

  .screen-middle {
      margin-left: auto;
      margin-right: auto;
      /* width: 600px; /*whatever width you want*/
  }

  h1 {
    font-size: 6em;
    margin-bottom: 0px;
  }

  h2 {
    font-size: 3em;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  #enter-website-button {
    margin-top: 20px;
    font-size: 4em;
  }
}

/* Large desktops */
@media (min-width: 1200px) {
  #enter-website-button {
    cursor: pointer;
  }
}

/*---------------end of desktops-------------------*/
