.center {
  text-align: center;
  margin: 0 auto;
}

body {
  /* corn #FBEC5D */
  background-color: #ffd562;
  color: #0000ff;
  width: 100%;
}

/* All portrait phones and phablets */
@media only screen and (max-width: 767px) and (orientation: portrait) {
  #Invite-Image {
    /* content:url("../Images/RSVP_page/invite_on_beach.jpg");
    width: 180px !important;
    height: 120px !important; */
    width: 100%;
  }
}

/* All other devices */
@media only screen and (min-width: 768px) and (orientation: portrait), only screen and (orientation: landscape) {
  #Invite-Image {
    height: 240px;
    padding-top: 20px;
    border-radius: 50%;
  }
}

#main-content { width: 95%; }

h1 { font-family: 'Alex Brush', cursive; }
h2, h3, p { font-family: 'IM Fell Double Pica SC', serif; }

#RSVP-form {
  width: 95%;
}

#RSVP-alt-message {
  padding-bottom: 20px;
}

#tag_rjwedding2018 {
  text-align: right;
  font-size: 2em;
  padding-top: 30px;
}
