body {
  text-align: center;
  background-color: #ffce1b;
  color: #0000ff;
}

#ryan-not-working {
  height: 120px;
  border-radius: 100%;
}

h1 { font-family: 'Alex Brush', cursive; }
h2, h3, p { font-family: 'IM Fell Double Pica SC', serif; }

h3 {
  font-size: 2em;
  position: fixed;
  bottom: 0px;
  right: 5px;
}

#RSVP-alt-message {
  padding-bottom: 100px;
}
