.center {
  text-align: center;
  margin: 0 auto;
}

body {
  /* corn #FBEC5D */
  /* sunflower orange #ffd562 */
  /* pale yellow background-color: #ffffad; */
  /* bright orange background-color: #ffdf00; */
  background-color: #efe7e2;
  color: #0000ff;
  width: 100%;
}

#main-content { width: 95%; }

h1 { font-family: 'Alex Brush', cursive; }
h2, h3, p, nav a { font-family: 'IM Fell Double Pica SC', serif; }

#RSVP-form {
  width: 95%;
}

#RSVP-alt-message {
  padding-bottom: 20px;
}

#tag_rjwedding2018 {
  text-align: right;
  font-size: 2em;
  padding-top: 30px;
}


/* All phones and tablets */
@media only screen and (max-width: 1024px) {

}

/* All PORTRAIT phones and tablets */
@media only screen and (max-width: 1024px) and (orientation: portrait) {

}

/* Portrait phones ONLY */
@media only screen and (max-width: 480px) and (orientation: portrait) {
  #Invite-Image {
    background: url("../Images/RSVP_page/invite_on_beach.jpg") no-repeat center top;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 35vh;
  }
}

/* Portrait tablets ONLY */
@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {
  #Invite-Image {
    background: url("../Images/RSVP_page/invite_on_beach_tablets.jpg") no-repeat center bottom;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 40vh;
  }

  h1 {
    font-size: 5.5em;
  }

  p {
    font-size: 1.5em;
  }

  #tag_rjwedding2018 {
    font-size: 3em;
  }
}

/* Landscape phones ONLY */
@media only screen and (max-width: 767px) and (orientation: landscape) {

}

/* All desktops, landscape phones and landscape tablets */
@media only screen and (orientation: landscape), only screen and (min-width: 1025px) {
  #Invite-Image {
    background: url("../Images/RSVP_page/invite_on_beach_desktops.jpg") no-repeat center bottom;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 40vh;
  }

  h1 {
    font-size: 3em;
  }

  p {
    font-size: 1.2em;
  }
}

/* Landscape tablets, desktops and up */
@media only screen and (min-width: 768px) and (orientation: landscape), only screen and (min-width: 1025px) {

}

/* Large desktops */
@media (min-width: 1200px) {

}

/* All other devices */
/* @media only screen and (min-width: 768px) and (orientation: portrait), only screen and (orientation: landscape) {
  #Invite-Image {
    background: url("../Images/RSVP_page/invite_on_beach_tablets.jpg") no-repeat center bottom;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 40vh;
  }
} */




/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* initially hide */
  position: fixed; /* Stay in place */
/*     z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #ffce1b;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 100px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav .active-page {
  color: white;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: blue;
  display: block;
  transition: 0.3s;
  text-align: right;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: white;
}

/* applicable when pushing the page content to the right when you open the side navigation */
/* #main-content {
  transition: margin-left .5s;
  padding: 20px;
} */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 80px;}
  .sidenav a {font-size: 18px;}
}




/* ----------------code for nav hamburger */
/* whole link div inc. burger and word */
#nav-link {
  z-index: 1;
  top: 20px;
  left: 20px;
  height: 50px;
  position: fixed;
  width: 150px;
  cursor: pointer;
}

/* burger and word divs separately */
#nav-link div {
  position: absolute;
  display: inline-block;
  margin: 0px;
  height: 100%;
}

/* burger div only */
#nav-icon3 {
  left: 0px;
  width: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* menu word div only */
#nav-menu-word {
  position: absolute;
  right: 0px;
  margin: 0px;
}

/* menu word itself */
#nav-menu-word h2 {
  font-size: 32px;
  margin: 3px auto;
}

/* burger lines */
#nav-icon3 span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: #0000FF;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* ------------end of code for nav hamburger */
