.center {
  text-align: center;
  margin: 0 auto;
}

/* stop ability to select text */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* doesnt highlight blue when you click */
.no-highlight {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* phones/tablets */
  outline: none;
}

body {
  /* corn #FBEC5D */
  /* sunflower orange #ffd562 */
  /* pale yellow background-color: #ffffad; */
  /* bright orange background-color: #ffdf00; */
  background-color: #efe7e2;
  color: #0000ff;
  width: 100%;
}

#sidenav-light-box {
  z-index: 1;
  overflow: hidden;
  position: fixed;
  width: 0;
  height: 100vh;
  background-color: rgb(0,0,0,0.4);
}

#Banner-Image {
  background: url("../Images/GettingHere_page/RandJ_Heart_Default.jpg") no-repeat right bottom;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

#main-content { width: 95%; }
#main-content a:hover, footer a:hover { color: white; }

h1 { font-family: 'Alex Brush', cursive; }
h2, h3, p, nav a { font-family: 'IM Fell Double Pica SC', serif; }

#Address p, .Styled-List li, #Taxi-Numbers-List li {
  font-family: 'Source Serif Pro', serif;
  color: black;
}

#Map iframe {
  width: 250px;
  height: 225px;
}

.Styled-List {
  display: inline-block;
  text-align: left;
  color: black;
}

.Styled-List li { padding-bottom: 5px; }

#Taxi-Numbers-List {
  list-style-type: none;
  color: black;
}
#Taxi-Numbers-List li { padding-bottom: 10px; }

footer {
  padding-top: 80px;
  padding-bottom: 30px;
}

footer #tag_rjwedding2018 {
  padding-right: 20px;
  text-align: right;
  font-size: 2em;
}

/* All phones and tablets */
@media only screen and (max-width: 1024px) { }

/* All PORTRAIT phones and tablets */
@media only screen and (max-width: 1024px) and (orientation: portrait) { }

/* Portrait phones ONLY */
@media only screen and (max-width: 480px) and (orientation: portrait) {
  #Banner-Image { height: 35vh; }
  .Map { width: 75%; }
}

/* Portrait tablets ONLY */
@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {
  #Banner-Image { height: 40vh; }

  h1 { font-size: 5.5em; }
  p { font-size: 1.5em; }
  #tag_rjwedding2018 { font-size: 3em; }
}

/* Landscape phones ONLY */
@media only screen and (max-width: 767px) and (orientation: landscape) { }

/* All desktops, tablets and landscape phones  */
@media only screen and (orientation: landscape), only screen and (min-width: 1025px), only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {
  #Address-and-Map { width: 80%; }

  #Address-and-Map > div {
    /* max-height: 250px; */
    width: 45%;
    vertical-align: middle;
    display: inline-block;
  }

  #Address {
    float: right;
    padding-right: 30px;
  }

  #Map {
    text-align: left;
    padding-left: 30px;
  }
}

/* All desktops, landscape phones and landscape tablets */
@media only screen and (orientation: landscape), only screen and (min-width: 1025px) {
  #Banner-Image { height: 40vh; }

  #Getting-Here-Methods { max-width: 60%; }

  h1 { font-size: 3em; }
  p { font-size: 1.2em; }
}

/* Landscape tablets, desktops and up */
@media only screen and (min-width: 768px) and (orientation: landscape), only screen and (min-width: 1025px) {
  #main-content { width: 80%; }
}

/* Large desktops */
@media (min-width: 1200px) { }

/*----------------------------------------------- sidenav css */
/* The side navigation menu */
.sidenav {
  /* disable scroll */
  overflow: hidden;

  z-index: 2;
  height: 100%;
  width: 0; /* initially hide */
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffce1b;
  padding-top: 100px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* show current page as white in sidenav */
.sidenav .active-page { color: white; }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover { color: white; }

/* The other navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: blue;
  display: block;
  transition: 0.3s;
  text-align: right;
}

.sidenav p {
  transition: 0.3s;
  padding-top: 100px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav
(less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav { padding-top: 80px; }
  .sidenav a { font-size: 18px; }
}
/*----------------------------------------------- end of sidenav css */

/* ----------------------------------------------- nav hamburger css */
/* whole link div inc. burger and word */
#nav-link {
  z-index: 3;
  top: 20px;
  left: 20px;
  height: 50px;
  position: absolute;
  width: 150px;
  cursor: pointer;
}

/* burger and word divs individually */
#nav-link div {
  position: absolute;
  display: inline-block;
  margin: 0px;
  height: 100%;
}

/* burger div only */
#nav-burger-icon {
  left: 0px;
  width: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* menu word (div only) */
#nav-menu-word {
  position: absolute;
  right: 0px;
  margin: 0px;
}

/* menu word itself */
#nav-menu-word h2 {
  font-size: 32px;
  margin: 4px auto;
}

/* burger lines */
#nav-burger-icon span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: #0000FF;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* burger default (i.e. nav closed) */
#nav-burger-icon span:nth-child(1) { top: 0px; }
#nav-burger-icon span:nth-child(2), #nav-burger-icon span:nth-child(3) { top: 18px; }
#nav-burger-icon span:nth-child(4) { top: 36px; }

/* burger X to close (i.e. nav active) */
#nav-burger-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#nav-burger-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-burger-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-burger-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* ------------------------------------------end of nav hamburger css */
